*{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	word-break:normal;
	word-wrap:break-word;
}

body {
	background-image: url("/splatoon/img/bg-0.png");
}
